.linkarea{
height:90vh;
}
.maincontainer{
padding-left:30px;
padding-right:30px;
}
.logo{
text-align:right;
}
.user{
float:right;
padding-right:30px;
}
.loginform{
padding-left:30px;
padding-right:30px;
}
.miniature{
width:45px;
}
.miniature2{
width:25px;
}
a {
text-decoration:none;
}
.scrolltable{
display:block;
overflow-y: auto;
height:74.5vh;
}
.scrolltable2{
display:block;
overflow-y: auto;
height:74.5vh;
}
.scrolltable4{
display:block;
overflow-y: auto;
height:73.5vh;
}

.miniature_sprav{
width:45px;
float:left;
}

.borderdiv{
border-radius:10px;
}
.btnupdate{
width:40px;
padding:0;
margin-bottom:15px;
}
.linkbtn{
width:82px;
background-color:Silver;
}
.linkdiv{
margin-top:8px;}
.img_btnsave{
width:20px;
}
.addbtn{
width:38px;
height:38px;
margin-left:20px;
}
.addbtn2{
width:38px;
height:38px;

}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.item {float:left;}