
{% extends 'store/base.html' %}
{% load static %}
{% block LinkArea %}
{% if request.user.username == "Кладовщик" %}

<a href="{% url 'DocMenu' %}" class="btn btn-secondary text-white nav-link mb-2 shadow  ">Документы</a>

<a href="{% url 'ReportMenu' %}" class="btn btn-secondary   nav-link mb-2 shadow text-light">Отчеты</a>
<a href="{% url 'SpravMenu' %}" class="btn btn-secondary text-white  nav-link mb-1 shadow ">Справочники</a>

{% else %}
 <a href="#" class="btn btn-light border border-white  nav-link mb-2 shadow ">Отчеты</a>
{% endif %}

{% endblock LinkArea %}
{% block DataArea %}<div class="text-center align-middle mt-5 pt-5">
<img src="{% static '/images/store.jpg' %}" width="1000px"></div>
{% endblock DataArea %}