{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}
<form action="" method="post" id="nom-form">
        {% csrf_token %}
<div class="row">
    <div class="col-md-1  "><img src="{% static '/images/report.png' %}" class="miniature_sprav mt-1 ">{{pic_label}}

    </div>
<div class="col-md-11 mx-auto shadow ">
<table class="table  shadow mb-1">
 <thead>
    <tr >
        <th class="border border-dark" style="width:435px;" >Наименование</th>
        <th colspan="2" class="border border-dark border-end-0" >Ед.изм.</th>
        <th class="border border-dark border-start-0" ></th>
        <th class="border border-dark border-end-0" >Категория</th>
        <th class="border border-dark border-start-0" ></th>
        <th class="border border-dark" title="Только для спецодежды" style="width:40px;">Срок,мес.</th>
        <th class=" border border-dark" colspan="2">Действие</th>
    </tr>
 </thead>
    <div>
    <td class=" {{brd_class}} border border-end-0 " style="padding-right:0px;"  > {{ form.title}} </td>
    <td class="{{brd_class}}  border border-end-0" colspan="2" style="padding-right:0px;"> {{form.izm}}</td>
        <td style="padding-left:0; " class=" {{brd_class}} border border-start-0"><a href="#" class="btn btn-secondary btn-sm mt-1" style="height:30px;" >+</a></td>
     <td class=" {{brd_class}} border border-end-0" style="padding-right:0px;"> {{ form.category}}</td>
     <td style="padding-left:0;" class=" {{brd_class}} border border-start-0"><a href="#" class="btn btn-secondary btn-sm mt-1" style="height:30px;" >+</a></td>
     <td style="padding-right:0;padding-left:10px;" class=" {{brd_class}} border text-center " title="Только для спецодежды" > {{ form.srok}}</td>


<td class="pt-2 border {{brd_class}} "> <button type="submit" class="btn {{btn_class}} btn btn-sm mb-3 pt-2 pb-2 bt-3 " form="mainform"  >
    {{btn_caption}}</button>

</form>
</td>
    </tr>

</table>
<div class="scrolltable2">
<table class="table shadow table-bordered mt-0">
<tbody>
    {% for item in unit %}
<tr>
<td style="width:435px;">
<a href="{% url update_url item.pk %}" class=" text-dark  ">{{item.title}}</a>
</td>
<td style="width:237px;">{{item.izm}}</td>
 <td style="width:237px;">{{item.category}}</td>
 <td style="width:95px;" class="text-center">
{% if item.srok != 0 %}
      {{item.srok}}
      {% endif %}
</td>

    <td class="text-center align-middle" ><input data-sid="{{item.pk}}"  value="Update" type="image" src="{% static '/images/update.png' %}" width="25px" > </td>
<td class="text-center align-middle" ><input data-sid="{{item.pk}}" data-del="{{url_delete}}" class="btn-del " value="Delete" type="image" src="{% static '/images/del.png' %}" width="28px"> </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>



<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel"><span class="text-danger">Новая запись</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          <form action="" method="post" id="podbor_izm">
             {% csrf_token %}
{{form2.title}}

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
<button type="submit" class="btn btn-secondary"  form="podbor_izm">Добавить</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock DataArea %}

