{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}

<div class="row">
    <div class="col-md-1  ">{{pic_label}}</div>
<div class="col-md-11 mx-auto shadow">

<table class="table  shadow ">
 <thead>
    <tr>
      <th >
<form action={{url_name}} method="post" id="post-form">
        {% csrf_token %}
    <input type="hidden" name="unit_id " id="unit_id">
        {{ form.as_p}}</th>

<th class="pt-4 "> <button type="submit" class="btn  btn-primary btn-sm mb-3 pt-2 pb-2 " id="savebtn">Сохранить</button>


</form>
</th>
    </tr>
  </thead>
</table>
  <div class="scrolltable">
<table class="table shadow table-bordered table-hover" id="data-table">

<tbody id="tbody">
    {% for item in unit %}
<tr>
<td style="width:960px; " class="align-middle">{{item.title}}</td>

<td class="text-center align-middle" ><input data-sid="{{item.pk}}" data-update="{{url_update}}" value="Update" type="image" class="btn-update" src="{% static '/images/update.png' %}" width="25px" > </td>

<td class="text-center align-middle" ><input data-sid="{{item.pk}}" data-del="{{url_delete}}" class="btn-del " value="Delete" type="image" src="{% static '/images/del.png' %}" width="28px"> </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

{% endblock DataArea %}

