{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}

<div class="row">
    <div class="col-md-1  ">{{pic_label}}</div>
<div class="col-md-11 mx-auto shadow">
 <table class="table shadow table-bordered table-hover" >
  <thead class="bg-primary text-light">
  <th style="width:90%">Наименование</th>
    <th style="width:10%"></th>
  </thead>
  <tr><td>
 <form action={{url_name}} method="post" id="postspr-form">{% csrf_token %}
 <input type="hidden" name="unit_id " id="unit_id">{{ form.title}} </td>
<td>
 <button type="submit" class="btn btn-primary " id="savebtn" >Сохранить</button></td>

</tr>
 </form>
</table>
<div class="scrolltable">
<table class="table shadow table-hover ">
  <thead >
  <th style="width:90%"></th>
    <th style="width:10%"></th>
  </thead>
<tbody id="tbody">
{% for item in unit %}
<tr>
<td  class="align-middle">{{item.title}}</td>
<td class="text-center align-middle text-end" ><input data-sid="{{item.pk}}" data-update="{{url_update}}" value="Update" type="image" class="btn-update" src="{% static '/images/update.png' %}" width="30px" >
<input data-sid="{{item.pk}}" data-del="{{url_delete}}" class="btn-del " value="Delete" type="image" src="{% static '/images/del.png' %}" width="30px"> </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

{% endblock DataArea %}

